# Vivado generated (pong.* project)
pong.cache/
pong.hw/
pong.ip_user_files/
pong.runs/
pong.sim/

# keep IP definition, ignore its generated output
pong.gen/
!pong.srcs/

# logs / journals / reports / bitstreams
*.jou
*.log
*.str
*.rpt
*.bit
*.ltx
.Xil/
